@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  background: colormap("blue");
  border: 1px solid colormap("blue0");
  border-radius: 8px;
  color: colormap("grey100");
  font-family: $font-primary;

  &.btn-main {
    background: colormap("blue");
    border: 1px solid colormap("blue0");
  }

  &.btn-primary {
    background: colormap("grey40");
    border: 1px solid colormap("grey0");
  }

  &.btn-secondary {
    background: colormap("violet");
    border: 1px solid colormap("violet0");
  }

  &.btn-error {
    background: colormap("red");
    border: 1px solid colormap("red0");
  }
}