@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.topbar {
  border-bottom: 1px solid $text-color;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    a {
      color: inherit;

      &:hover {
        color: lighten($text-color, 20)
      }
    }
  }
}