@import '../scss/variables';
@import '../scss/mixins';


.styleguide {
  @include d-flex(row, 0);
  align-items: stretch;

  .styleguide__nav {
    border-right: 1px solid #213547;
    background-color: $bg-color;
    padding: 30px 20px;
    height: 100vh;
    width: 180px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
  }

  .sg-section {
    @include d-flex(column, 1.5rem);
    align-items: flex-start;
    width: 100%;
    padding: 30px 20px;
    margin-left: 180px;

    .section__list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 18px;
    }
  }
}