@import '../scss/mixins';

.styleguide {
  @include d-flex(row, 0);
  align-items: stretch;

  .styleguide__nav {
    border-right: 1px solid #213547;
    padding: 10px 20px;
    height: calc(100vh - 76px);
    width: 180px;
    display: flex;
    flex-direction: column;
  }

  .sg-section {
    @include d-flex(column, 2rem);
    align-items: flex-start;
    width: 100%;
    padding: 10px 20px;

    .section__list {
      // display: flex;
      // flex-wrap: wrap;
      width: 100%;
      // column-gap: 50px;
      // row-gap: 30px;

      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 30px;
    }
  }
}