@import '../scss/variables';
@import '../scss/mixins';


.styleguide {
  @include d-flex(row, 0);
  align-items: stretch;

  .styleguide__nav {
    border-right: 1px solid #213547;
    background-color: $bg-color;
    padding: 10px 20px;
    height: calc(100vh - 86.4px);
    width: 180px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 86.4px;
  }

  .sg-section {
    @include d-flex(column, 2rem);
    align-items: flex-start;
    width: 100%;
    padding: 10px 20px;
    margin-top: 97px;
    margin-left: 180px;

    .section__list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 18px;
    }
  }
}