h1, .h1 {
  margin: 0;
  font-family: $font-headers;
  font-size: fs('xx-big');
}

h2, .h2 {
  margin: 0;
  font-family: $font-headers;
  font-size: fs('x-big');
}

h3, .h3 {
  margin: 0;
  font-family: $font-headers;
  font-size: fs('big');
}

h4, .h4 {
  margin: 0;
  font-family: $font-headers;
  font-size: fs('x-normal');
}

h5, .h5 {
  margin: 0;
  font-family: $font-headers;
  font-size: fs('normal');
}

h6, .h6 {
  margin: 0;
  font-family: $font-headers;
  font-size: fs('medium');
}