a {
  text-decoration: none;
}

p {
  margin: 0;
  font-size: fs('normal');
}

small {
  font-size: fs('small');
}

big {
  font-size: fs('big');
}

code {
  font-family: $font-secondary;
  font-size: fs('medium');
}
