// COLORS

$neutralGray: #97A1AF;
$primary: #4C94FF;
$info: #66BFFF;
$error: #F76E6E;
$warning: #FFC34C;
$success: #79D2A6;
$amethyst: #BD7DE8;
$tangerine: #FAA638;
$olive: #ABBD75;

$text-color: #213547;


// TYPOGRAPHY


$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Oswald', sans-serif;

$font-headers: $font-secondary;

$font-size-medium: 1rem;