// COLORS

$neutralGray: #97A1AF;
$primary: #4C94FF;
$info: #66BFFF;
$error: #F76E6E;
$warning: #FFC34C;
$success: #79D2A6;
$amethyst: #BD7DE8;
$tangerine: #FAA638;
$olive: #ABBD75;

$text-color: #213547;


// TYPOGRAPHY


$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Oswald', sans-serif;

$font-headers: $font-secondary;

$font-size-medium: 1rem;

$size-vars: (
  "xx-small" :    .50,
  "x-small"  :    .70,  // 11px
  "small"    :    .75,  // 12px
  "medium"   :    .875, // 14px
  "normal"   :    1,    // 16px
  "x-normal" :    1.12, // 18px
  "big"      :    1.3,  // 21px
  "x-big"    :    1.8,  // 29px
  "xx-big"   :    2.4,  // 32px
  "huge"     :    3.75  // 60px
);