/* COLORS */

$neutralGray: #97A1AF;
$primary: #4C94FF;
$info: #66BFFF;
$error: #F76E6E;
$warning: #FFC34C;
$success: #79D2A6;
$amethyst: #BD7DE8;
$tangerine: #FAA638;
$olive: #ABBD75;

// Grey Scale
$grey0: #333333;
$grey20: #666666;
$grey40: #9A9A9A;
$grey60: #CCCCCC;
$grey80: #F3F3F3;
$grey100: #FAFAFA;

// Color palette
$blue0: #0036B8;
$blue25: #0045EB;
$blue50: #3772FF;
$blue75: #9EBBFF;
$blue100: #D1DFFF;
$blue: $blue50;

$violet0: #7826FD;
$violet25: #9758FE;
$violet50: #B88DFE;
$violet75: #D6BDFE;
$violet100: #E6D7FF;
$violet: $violet50;

$pink0: #AA00B8;
$pink25: #D900EB;
$pink50: #F038FF;
$pink75: #F89EFF;
$pink100: #FCD1FF;
$pink: $pink50;

$red0: #CA1756;
$red25: #E72C6E;
$red50: #EF709D;
$red75: #F49FBD;
$red100: #F9CDDC;
$red: $red50;

$yellow0: #B7CA17;
$yellow25: #D4E72C;
$yellow50: #D4E72C;
$yellow75: #EBF49F;
$yellow100: #EBF49F;
$yellow: $yellow50;

$cyan0: #17BACA;
$cyan25: #2CD7E7;
$cyan50: #70E4EF;
$cyan75: #9FEDF4;
$cyan100: #CDF5F9;
$cyan: $cyan50;

$text-color: $grey0;
$bg-color: $grey100;


// TYPOGRAPHY


$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Oswald', sans-serif;

$font-headers: $font-secondary;

$font-size-medium: 1rem;

$size-vars: (
  "xx-small" :    .50,
  "x-small"  :    .70,  // 11px
  "small"    :    .75,  // 12px
  "medium"   :    .875, // 14px
  "normal"   :    1,    // 16px
  "x-normal" :    1.12, // 18px
  "big"      :    1.3,  // 21px
  "x-big"    :    1.8,  // 29px
  "xx-big"   :    2.4,  // 32px
  "huge"     :    3.75  // 60px
);